<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/styles/reset.css" />
</head>
<body>
  <h2>Hello App</h2><a href="/success">Success Logs</a>&nbsp;|&nbsp;<a href="/warning">Warning Logs</a>&nbsp;|&nbsp;<a href="/error">Error Logs</a>
  Static images
  <table>
    <tr>
      <td>
        <img src="/static/images/kitten1.jpg" />
      </td>
      <td>
        <img src="/static/images/kitten2.jpg" />
      </td>
      <td>
        <img src="/static/images/kitten3.jpg" />
      </td>
    </tr>
  </table>
</body>
</html>